.cover-text {
  
  max-width: 100%;
  border: 1px black;
  position: relative;
  background: linear-gradient(to bottom, rgba(245, 219, 19, 1) 0%, rgba(221, 161, 46, 1) 100%);
  height: 100vh;
}

.txt{
  margin-left: 157px;
}
  
  .cover-text .find-all-your {
    color: #000000;
    font-family: "Karla-Bold", Helvetica;
    font-size: 72px;
    font-weight: 400;
    left: 1px;
    letter-spacing: 4px;
    line-height: normal;
    position: absolute;
    top: -1px;
    width: 506px;
  }
  
  .cover-text .text-wrapper {
    font-weight: 700;
  }
  
  .cover-text .span {
    font-family: var(--h-1-font-family);
    font-size: var(--h-1-font-size);
    font-style: var(--h-1-font-style);
    font-weight: var(--h-1-font-weight);
    letter-spacing: var(--h-1-letter-spacing);
    line-height: var(--h-1-line-height);
  }
  
  .cover-text .you-can-know-the {
    color: #000000;
    font-family: var(--h-2-font-family);
    font-size: var(--h-2-font-size);
    font-style: var(--h-2-font-style);
    font-weight: var(--h-2-font-weight);
    left: 1px;
    letter-spacing: var(--h-2-letter-spacing);
    line-height: var(--h-2-line-height);
    position: absolute;
    top: 315px;
    width: 515px;
  }
  
  .cover-text .btn-instance {
    left: 0 !important;
    position: absolute !important;
    top: 491px !important;
  }
  
  .cover-text .design-component-instance-node {
    left: 36px !important;
  }
  .big-image {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    padding: 40px;
  }
  
  .big-image img {
    max-height: 100%;
    max-width: 100%;
  }
  .btn-instance{
    background-color: rgba(115, 214, 119, 1);
    width: 231px;
    height: 66px;
    flex-shrink: 0;
    border-radius: 2px;
  }
  .btn-instance a{
    text-decoration: none;
    font-weight: bolder;
    color: #000000;
    font-size: large;
  }