.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
  }
  
  .left-section {
    flex: 1;
    text-align: left;
  }
  
  .right-section {
    flex: 1;
    text-align: right;
  }
  