.navbar {
    overflow:hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#F5DB13;
    border: grey;
    position: relative;

  }
  
  .navbar ul {
    list-style: none;
    display: flex;
    gap: 40px;
  }
  
  .navbar ul li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
  }
  
  .navbar img {
    width: 150px; 
    height: 100px;
  }
  .navbar-right{
    margin-right: 50px;
  }
  .navbar ul li a:hover{
   text-decoration: underline;
  }